<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ZimmetDB"
			 connectionString="Server=DESKTOP-HC7H9T0\MSSQLSERVER01;Database=ZimmetDB;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>